@{
    var currentPage = Context.Request.Path;
}

<aside style="width: 250px; height: calc(100vh - 60px)" class="sidebar p-3">
    <a><i class="bi bi-0-circle me-2"></i>LifeFluel<i class="bi bi-person-circle"></i></a>
    <hr />
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/" ? "active" : "")" asp-area="" asp-page="/Index"><i class="bi bi-house-fill me-2"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-calendar-week-fill me-2"></i>Daily report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-capsule me-2"></i>Nutrition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-clipboard-check-fill me-2"></i>Habits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/Privacy" ? "active" : "")" asp-area="" asp-page="/Privacy"><i class="bi bi-droplet-fill me-2"></i>Hydration</a>
        </li>
    </ul>
</aside>