// buttons

// navbar
aside.sidebar {
    width: 250px;
    height: calc(100vh - 60px);
    box-shadow: 10px 0px 30px -10px rgba(210, 210, 210, 1);
    transition: all .3s;
    overflow: hidden;

    .logo {
        color: $logo-color;
        font-size: 1.5rem;
        font-weight: 800;

        &:hover {
            color: $logo-color;
        }
    }

    .menu-toggle {
        font-size: 1.5rem;
        color: $primary-color;
        position: absolute;
        right: 15px;
        bottom: 15px;
        cursor: pointer
    }
}

.nav-small {
    width: 50px !important;
    margin: 0;
    padding: 1rem 0 0 0 !important;

    .logo {
        display: block;
        text-align: center;
    }

    a i {
        margin-right: 0;
    }

    a span {
        display: none;
    }

    .menu-toggle {
        transform: rotateY(3.142rad);
    }
}

// panels
.panel {
    box-sizing: border-box;
    border: 0.5rem solid transparent;
    background-clip: padding-box;
    border-radius: 1rem;
}

.panel-1-main {
    background-color: $primary-color;
}

.panel-2-main {
    background-color: lighten($primary-color, 15%);
}

.panel-3-main {
    background-color: darken($primary-color, 10%);
}

.panel-other {
    background-color: $panel-other-bg-color;
}
// circular progress
.circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient($secondary-color 80deg, lighten($secondary-color, 45%) 0deg);
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: $panel-other-bg-color;
    }
}

.progress-value {
    position: relative;

    &-percent {
        font-weight: 700;
        font-size: 1.5rem;
    }
}

.chartBox-bar {
    width: 60%;
    height: 30%;
}

// Daily Rapoty
.emoji {
    font-size: 46px;
    color: darken($panel-other-bg-color, 7%);
    cursor: pointer;
    margin: 0 20px;

    &:hover {
        color: $primary-color;
    }
}

.emoji.checked {
    color: $primary-color;
}

.symptom {
    background-color: darken($panel-other-bg-color, 5%);
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 0.9rem;

    &:hover {
        background-color: $primary-color;
    }
}

.symptom.checked {
    background-color: $primary-color;
}