@page "/daily-raport"
@model LifeFuel.Pages.DailyRaportModel
@{
}

<div class="container mt-3 text-center">
    <div class="row justify-content-center">
        <div class="col-4">
            <input class="form-control" type="date" id="datePicker" />
        </div>
    </div>
    <hr />

    <div class="row justify-content-center p-3">
        <div class="col-12">
            <h5>How do you feel?</h5>
        </div>
        <div class="d-flex justify-content-center">
            <i class="bi bi-emoji-angry emoji"></i>
            <i class="bi bi-emoji-frown emoji"></i>
            <i class="bi bi-emoji-neutral emoji"></i>
            <i class="bi bi-emoji-smile emoji"></i>
            <i class="bi bi-emoji-laughing emoji"></i>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        <div class="col-12 mb-2">
            <h5>How do have any symptoms?</h5>
        </div>

        <div class="d-flex justify-content-center flex-wrap">
            <i class="rounded-pill symptom">Headache</i>
            <i class="rounded-pill symptom">Stomach pain</i>
            <i class="rounded-pill symptom">Cough</i>
            <i class="rounded-pill symptom">Sore throat</i>
            <i class="rounded-pill symptom">Rhinitis</i>
            <i class="rounded-pill symptom">Rash</i>
            <i class="rounded-pill symptom">Joint or muscle pain</i>
            <i class="rounded-pill symptom">Vomiting</i>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        <div class="col-12 mb-2">
            <h5>Energy</h5>
        </div>

        <div class="d-flex justify-content-center align-items-center w-50">
            <input class="form-range" type="range" min="0" max="10" value="0" step="1" id="energy-range"/>
            <span class="range-value"><span id="energy-range-value">0</span>/10</span>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        <div class="col-12 mb-2">
            <h5>Hunger</h5>
        </div>

        <div class="d-flex justify-content-center align-items-center w-50">
            <input class="form-range" type="range" min="0" max="10" value="0" step="1" id="hunger-range" />
            <span class="range-value"><span id="hunger-range-value">0</span>/10</span>
        </div>
    </div>
</div>



<script>
    document.getElementById('datePicker').valueAsDate = new Date();

    let emojis = Array.from(document.getElementsByClassName("emoji"));
    for (let i = 0; i < emojis.length; i++) {
        emojis[i].addEventListener('click', () => {
            if (!emojis[i].classList.contains("checked")) {
                emojis.forEach((el) => el.classList.remove("checked"));
            }
            emojis[i].classList.toggle("checked");
        });
    }

    let symptoms = Array.from(document.getElementsByClassName("symptom"));
    for (let i = 0; i < symptoms.length; i++) {
        symptoms[i].addEventListener('click', () => {
            symptoms[i].classList.toggle("checked");
        });
    }


    const energyRange = document.getElementById("energy-range");
    const energyRangeValue = document.getElementById("energy-range-value");

    const hungerRange = document.getElementById("hunger-range");
    const hungerRangeValue = document.getElementById("hunger-range-value");

    function updatehungerRangeValue() {
        hungerRangeValue.textContent = hungerRange.value;
    }

    function updateenergyRangeValue() {
        energyRangeValue.textContent = energyRange.value;
    }



    updateenergyRangeValue();
    updatehungerRangeValue();
    energyRange.addEventListener("input", updateenergyRangeValue);
    hungerRange.addEventListener("input", updatehungerRangeValue);




</script>