@page "/hydration"
@model LifeFuel.Pages.HydrationModel
@{
}

<div class="container mt-3 text-center">
    <div class="row justify-content-center">
        <div class="col-4">
            <input class="form-control" type="date" id="datePicker" />
        </div>
    </div>
    <hr />
</div>


<script>
    document.getElementById('datePicker').valueAsDate = new Date();
</script>